@import "../../utilities/mixins/mixins.scss";
@import "../../utilities/variables/variables.scss";

.list-item {
  @include flex-container(column, center, center);
  @include box-shadow(5px 5px 10px 2px $color-tertiary);
  @include rounded-corner(1rem);
  width: 30%;
  height: 65%;
  margin: 1%;
  border: 1px solid $color-primary;
  transition: transform 1s ease;
  overflow: hidden;

  &:hover {
    transform: scale(1.015);

    & > .list-item__detail {
      color: $color-primary;
      background-color: $color-secondary;
    }
  }

  @include phone {
    width: 100%;
    height: 60%;
    margin: 2%;
  }
  @include tablet {
    width: 45%;
    height: 80%;
    margin: 2%;
  }
}

.link {
  @include link($color-secondary);
}

.list-item__container {
  background-color: $color-tertiary;
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
}

.list-item__image {
  background-repeat: round;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list-item__detail {
  @include flex-container(row, space-around, center);
  opacity: $opacity;
  background-color: $color-primary;
  width: 100%;
  height: 15%;
  align-self: flex-end;
}

.list-item__detail--title {
  @include font-size(1.2);
  font-family: $font-primary;
}

.list-item__detail--price {
  @include flex-container(row, center, center);
  @include font-size(1);
  font-family: $font-primary;
}
