$white: #fff;
$grey: #f3f3f3;
$blue: #20798f;

$link-primary: $white;
$link-secondary: $blue;
$link-tertiary: $grey;

$radius-button: 5px;
$radius-tab: 5px;

$font-primary: "Roboto", sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

$color-primary: $white;
$color-secondary: $blue;
$color-tertiary: $grey;

$opacity: 0.8;

$phone-width: 539px;
$tablet-width: 540px;
$desktop-width: 1024px;
