@import "../../utilities/mixins/mixins.scss";
@import "../../utilities/variables/variables.scss";

.detail {
  @include app-container($color-secondary);
  width: 100%;
}

.detail__product {
  @include box-shadow(5px 5px 10px 2px $color-tertiary);
  @include flex-container(row, center, center);
  @include rounded-corner(1rem);
  opacity: $opacity;
  background-color: $color-primary;
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;

  @include phone {
    height: 60%;
  }
  @include tablet {
    height: 70%;
  }
}

.detail__product-close {
  top: 2%;
  right: 2%;
  position: absolute;
  font-size: 3rem;
}

.link {
  @include link($color-secondary);
}

.detail__product-image {
  @include rounded-corner(1rem);
  border: 1px solid $color-secondary;
  width: 60%;
  height: 100%;
  background-repeat: round;
  background-size: cover;
}

.detail__product-content {
  width: 40%;
  height: 60%;
  text-align: start;
  padding-left: 1%;
}

.content__title {
  @include font-size(1.5);
  margin-bottom: 5%;
  font-weight: 700;
  text-overflow: ellipsis;
}
.content__body {
  @include font-size(1);

  @include phone {
    @include font-size(0.8);
  }
}
.content__body-price {
  @include flex-container(row, start, center);
  margin-bottom: 2%;
  & > span {
    font-weight: 400;
    margin-right: 2%;
  }

  @include phone {
    margin-bottom: 5%;
  }
  @include tablet {
    margin-bottom: 5%;
  }
}
.content__body-desc {
  @include line-clamp(10);
  font-family: $font-secondary;
  color: $color-tertiary;
}
